<div fxLayout="row" fxLayout.xs="column" fxLayout.ms="column" fxLayoutWrap fxLayoutGap="0.2%" fxLayoutAlign="center">
    <div fxFlex="50%" fxLayoutAlign="center">  
    <img mat-card-image src="../assets/images/10.png">
    </div>
    <div fxFlex="50%" fxLayoutAlign="center">    
    <img mat-card-image src="../assets/images/20.png">
    </div>
</div>
<br>
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.2%" fxLayoutAlign="center">
        <div fxFlex="50%" fxLayoutAlign="center">  
        <img mat-card-image src="../assets/images/30.png">
        </div>
        <div fxFlex="50%" fxLayoutAlign="center">    
        <img mat-card-image src="../assets/images/40.png">
        </div>
</div>
