<div class="container" fxLayout="row" fxLayout.xs="column"  fxLayout="wrap" fxLayoutGap="0.5%" fxLayoutAlign="space-around center">
            <div fxFlex="40%"><img  mat-card-image class="img" src="../assets/images/10.png"></div>
            <div fxFlex="40%"><img  mat-card-image class="img" src="../assets/images/20.png"></div>
</div>
<div class="container" fxLayout="row" fxLayout.xs="column"  fxLayout="wrap" fxLayoutGap="0.5%" fxLayoutAlign="space-around center">
            <div fxFlex="40%"><img  mat-card-image class="img" src="../assets/images/30.png"></div>
            <div fxFlex="40%"><img  mat-card-image class="img" src="../assets/images/40.png"></div>
</div>